#backup_plus_main #listBackups {
	width: 100%;
}
#backup_plus_main #listBackups tr.error {
	color: red !important;
}
#backup_plus_main #listBackups td i {
	font-size: 18px;
	padding: 5px;
}
#backup_plus_main #listBackups .l {
	text-align:left;
}
#backup_plus_main #listBackups .r {
	text-align:right;
}
#backup_plus_main #listBackups td i:hover {
	color: #fff;
	cursor: pointer;
	background-color: #000;
}
#backup_plus_main #waiting {
	font-size: 18px;
	padding: 5px;
}
#backup_plus_main #backup {
	width: 100%;
  background-color: #000;
  color: #fff;
}
#backup_plus_main #left {
	float: left;
	width: 47%;
}
#backup_plus_main #right {
	float: right;
	width: 51%;
	margin-bottom: 3em;
}
@media (max-width: 1290px) {
	#backup_plus_main #left {
		float: left;
		width: 100%;
	}
	#backup_plus_main #right {
		float: left;
		width: 100%;
		margin-bottom: 3em;
	}
}
#backup_plus_main .alert-success {
	display: none;
	color: #4a4a55;
	background-color: #CCFFCC;
	border: 1px solid #0c0;
	padding: 5px;
  text-align: center;
}
#backup_plus_main .alert-fail {
	display: none;
	color: #4a4a55;
	background-color: #FFCCCC;
	border: 1px solid #c00;
	padding: 5px;
}
#backup_plus_main .downloadLink {
	font-family: courier;
	font-weight: bold;
}
#backup_plus_main .table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}
#backup_plus_main .table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
#backup_plus_main .table > tbody {
  vertical-align: inherit;
}
#backup_plus_main .table > thead {
  vertical-align: bottom;
}
#backup_plus_main .table > :not(:last-child) > :last-child > * {
  border-bottom-color: currentColor;
}
#backup_plus_main .caption-top {
  caption-side: top;
}
#backup_plus_main .table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}
#backup_plus_main .table-bordered > :not(caption) > * {
  border-width: 1px 0;
}
#backup_plus_main .table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}
#backup_plus_main .table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}
#backup_plus_main .table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}
#backup_plus_main .table-active {
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: var(--bs-table-active-color);
}
#backup_plus_main .table-hover > tbody > tr:hover {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

/*!
 * alerty v0.0.1 (https://github.com/undead25/alerty#readme)
 * Copyright 2016 undead25
 * Licensed under the MIT license
 */
.alerty {
  color: #1b1919;
  position: fixed;
  z-index: 1061;
  border-radius: 2px;
  width: 400px;
  margin-left: -200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
/*  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  left: 50%;
  top: 50%;
  font-size: 15px;
}

/*
.alerty.alerty-show {
  -webkit-animation: bounceIn .35s ease;
  -o-animation: bounceIn .35s ease;
  animation: bounceIn .5s ease;
}

*/
.alerty.alerty-show {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes slideInLeft {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.alerty.alerty-hide {
  -webkit-animation: bounceOut .35s ease;
  -o-animation: bounceOut .35s ease;
  animation: bounceOut .35s ease;
}

.alerty .alerty-title {
  padding: 24px 24px 20px;
  font-size: 20px;
  color: #1b1919;
  line-height: 1;
}

.alerty .alerty-title + .alerty-content {
  padding-top: 0;
}

.alerty .alerty-content {
/*  text-align: justify;*/
  padding: 24px;
  padding: 24px;
}

.alerty .alerty-content .alerty-message {
  margin: 0;
  padding: 0;
  color: #635a56;
}

.alerty .alerty-content .alerty-prompt {
  margin-top: 16px;
  text-align: center;
  position: relative;
}

.alerty .alerty-content .alerty-prompt input {
  width: 100%;
  height: 36px;
  display: inline-block;
  padding: 6px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 16px;
  color: #1b1919;
  border-bottom: 1px solid #d9d6d4;
}

.alerty .alerty-content .alerty-prompt input:focus + .input-line {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.alerty .alerty-content .alerty-prompt .input-line {
  height: 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #4285f4;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  display: block;
}

.alerty .alerty-action {
  padding: 8px;
  text-align: right;
}

.alerty .alerty-action [class*="btn-"] {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #ececec;
  border: 1px solid  #ececec;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: 15px;
}

.alerty .alerty-action [class*="btn-"]:hover {
  background-color: #ececec;
  color: #000;
}

.alerty .alerty-action .btn-ok {
  color: #fff;
  background-color: #198754;
}

.alerty .alerty-action .btn-cancel {
  color: #fff;
  background-color: #6c757d;
}

.alerty.toasts {
  height: 48px;
  top: auto;
  bottom: 0;
  background-color: #323232;
  min-width: 288px;
  max-width: 568px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.alerty.toasts .alerty-content {
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  font-size: 14px;
}

.alerty.toasts .alerty-content .alerty-message {
  color: #fff;
}

.alerty.toasts.alerty-show {
  -webkit-animation: slideInUp .35s ease;
  -o-animation: slideInUp .35s ease;
  animation: slideInUp .35s ease;
}

.alerty.toasts.alerty-hide {
  -webkit-animation: slideOutDown .35s ease;
  -o-animation: slideOutDown .35s ease;
  animation: slideOutDown .35s ease;
}

.alerty.toasts.place-top {
  top: 0;
  bottom: auto;
}

.alerty.toasts.place-top.alerty-show {
  -webkit-animation: slideInDown .35s ease;
  -o-animation: slideInDown .35s ease;
  animation: slideInDown .35s ease;
}

.alerty.toasts.place-top.alerty-hide {
  -webkit-animation: slideOutUp .35s ease;
  -o-animation: slideOutUp .35s ease;
  animation: slideOutUp .35s ease;
}

@media all and (max-width: 540px) {
  .alerty {
	width: auto;
	margin-left: 0;
	margin-right: 0;
	left: 15px;
	right: 15px;
  }
  .alerty.toasts {
	width: 100%;
	border-radius: 0;
	left: 0;
	right: 0;
  }
}

.alerty-overlay {
  position: fixed;
  background-color: #000;
  z-index: 1060;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

.alerty-overlay.active {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.no-scrolling {
  height: 100%;
  overflow: hidden;
}

@-webkit-keyframes bounceIn {
  0% {
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
  }
  45% {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
  }
  80% {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
  }
  100% {
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}

@-o-keyframes bounceIn {
  0% {
	-o-transform: scale(0.7);
	transform: scale(0.7);
  }
  45% {
	-o-transform: scale(1.05);
	transform: scale(1.05);
  }
  80% {
	-o-transform: scale(0.95);
	transform: scale(0.95);
  }
  100% {
	-o-transform: scale(1);
	transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
	-webkit-transform: scale(0.7);
	-o-transform: scale(0.7);
	transform: scale(0.7);
  }
  45% {
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
  }
  80% {
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
  }
  100% {
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
  }
}

@-webkit-keyframes bounceOut {
  0% {
	-webkit-transform: scale(1);
	transform: scale(1);
  }
  100% {
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
  }
}

@-o-keyframes bounceOut {
  0% {
	-o-transform: scale(1);
	transform: scale(1);
  }
  100% {
	-o-transform: scale(0.5);
	transform: scale(0.5);
  }
}

@keyframes bounceOut {
  0% {
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
  }
  100% {
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
  }
}

@-webkit-keyframes slideInDown {
  from {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
  }
  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes slideInDown {
  from {
	transform: translate3d(0, -100%, 0);
  }
  to {
	transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
  }
  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInUp {
  from {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }
  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes slideInUp {
  from {
	transform: translate3d(0, 100%, 0);
  }
  to {
	transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }
  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOutUp {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  to {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
  }
}

@-o-keyframes slideOutUp {
  from {
	transform: translate3d(0, 0, 0);
  }
  to {
	transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  to {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes slideOutDown {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  to {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }
}

@-o-keyframes slideOutDown {
  from {
	transform: translate3d(0, 0, 0);
  }
  to {
	transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  to {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }
}
